.containerHeader1 {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
}

.containerHeader2{
    display: grid;
    justify-content: start;
}

.burgerIcon {
    text-align: center;
}

.logo {
    text-align: center;
}

.bagIcon {
    text-align: center;
}

.closeMenu{
    text-align: center;
    cursor: pointer;
}

.none {
    display: none;
}

.tablet {
    display: none;
}


@media (min-width: 768px) {
    .burgerIcon {
        display: none;
    }

    .containerHeader1 {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
    }

    .tablet {
        display: block;
    }

}